In [1]:
!pip install scikit-learn==0.24.1

Collecting scikit-learn==0.24.1
  Downloading scikit_learn-0.24.1-cp37-cp37m-manylinux2010_x86_64.whl (22.3 MB)
     |████████████████████████████████| 22.3 MB 11.4 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.1) (1.1.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.1) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.1) (3.0.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.1) (1.4.1)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
Successfully installed scikit-learn-0.24.1

In [2]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.utils import class_weight

import tensorflow as tf

In [3]:


data = pd.read_csv('https://raw.githubusercontent.com/FT-Kickstarter-05/Kickstarter/main/2018_ks_data.csv')

In [4]:
data.head()

           ID  ... usd_goal_real
0  1000002330  ...       1533.95
1  1000003930  ...      30000.00
2  1000004038  ...      45000.00
3  1000007540  ...       5000.00
4  1000011046  ...      19500.00

[5 rows x 15 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                378661 non-null  int64
 1   name              378657 non-null  object
 2   category          378661 non-null  object
 3   main_category     378661 non-null  object
 4   currency          378661 non-null  object
 5   deadline          378661 non-null  object
 6   goal              378661 non-null  float64
 7   launched          378661 non-null  object
 8   pledged           378661 non-null  float64
 9   state             378661 non-null  object
 10  backers           378661 non-null  int64
 11  country           378661 non-null  object
 12  usd pledged       374864 non-null  float64
 13  usd_pledged_real  378661 non-null  float64
 14  usd_goal_real     378661 non-null  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

# Cleaning and preprocessing

In [6]:
unneeded_columns = ['ID', 'name']
data = data.drop(unneeded_columns, axis=1)

In [7]:
data.head()

         category main_category  ... usd_pledged_real usd_goal_real
0          Poetry    Publishing  ...              0.0       1533.95
1  Narrative Film  Film & Video  ...           2421.0      30000.00
2  Narrative Film  Film & Video  ...            220.0      45000.00
3           Music         Music  ...              1.0       5000.00
4    Film & Video  Film & Video  ...           1283.0      19500.00

[5 rows x 13 columns]

In [8]:
data.isna().sum()

category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [9]:
data['usd pledged'].mean()

7036.728867109212

In [10]:
data['usd pledged'] = data['usd pledged'].fillna(data['usd pledged'].mean())

In [11]:
data.isna().sum()

category            0
main_category       0
currency            0
deadline            0
goal                0
launched            0
pledged             0
state               0
backers             0
country             0
usd pledged         0
usd_pledged_real    0
usd_goal_real       0
dtype: int64

In [12]:
data.isna().sum().sum()

0

In [13]:
data['state'].unique()

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended'], dtype=object)

In [14]:
data.query("state != 'failed' and state != 'successful'")

              category main_category  ... usd_pledged_real usd_goal_real
4         Film & Video  Film & Video  ...          1283.00      19500.00
8       Product Design        Design  ...          8233.00     125000.00
9          Documentary  Film & Video  ...          6240.57      65000.00
40          Nonfiction    Publishing  ...           472.88       2396.36
68              Design        Design  ...           535.09      11466.14
...                ...           ...  ...              ...           ...
378640         Fiction    Publishing  ...           100.00       1000.00
378643     3D Printing    Technology  ...             0.00       6500.00
378648  Tabletop Games         Games  ...           121.00        500.00
378655          Poetry    Publishing  ...             0.00       4949.60
378656     Documentary  Film & Video  ...            25.00      50000.00

[46986 rows x 13 columns]

In [15]:
data.shape

(378661, 13)

In [16]:
data.query("state != 'failed' and state != 'successful'").index

Int64Index([     4,      8,      9,     40,     68,     70,     73,     74,
                93,    104,
            ...
            378589, 378593, 378601, 378624, 378626, 378640, 378643, 378648,
            378655, 378656],
           dtype='int64', length=46986)

In [17]:
data = data.drop(data.query("state != 'failed' and state != 'successful'").index, axis=0).reset_index(drop=True)

In [18]:
print(data.shape)
data.head()

(331675, 13)

         category main_category  ... usd_pledged_real usd_goal_real
0          Poetry    Publishing  ...              0.0       1533.95
1  Narrative Film  Film & Video  ...           2421.0      30000.00
2  Narrative Film  Film & Video  ...            220.0      45000.00
3           Music         Music  ...              1.0       5000.00
4     Restaurants          Food  ...          52375.0      50000.00

[5 rows x 13 columns]

In [19]:
data['state'].unique()

array(['failed', 'successful'], dtype=object)

# Feature Engineering and Encoding

### Change Date to month and year and delete date
### For deadline and launched dates

In [20]:
data.head()

         category main_category  ... usd_pledged_real usd_goal_real
0          Poetry    Publishing  ...              0.0       1533.95
1  Narrative Film  Film & Video  ...           2421.0      30000.00
2  Narrative Film  Film & Video  ...            220.0      45000.00
3           Music         Music  ...              1.0       5000.00
4     Restaurants          Food  ...          52375.0      50000.00

[5 rows x 13 columns]

In [21]:
data['deadline'].apply(lambda x: x[0:4])

0         2015
1         2017
2         2013
3         2012
4         2016
          ...
331670    2017
331671    2011
331672    2010
331673    2016
331674    2011
Name: deadline, Length: 331675, dtype: object

In [22]:
data['deadline'].apply(lambda x: x[5:7])

0         10
1         11
2         02
3         04
4         04
          ..
331670    04
331671    07
331672    08
331673    02
331674    08
Name: deadline, Length: 331675, dtype: object

In [23]:
data['deadline_year'] = data['deadline'].apply(lambda x: np.float(x[0:4]))
data['deadline_month'] = data['deadline'].apply(lambda x: np.float(x[5:7]))

data['launched_year'] = data['launched'].apply(lambda x: np.float(x[0:4]))
data['launched_month'] = data['launched'].apply(lambda x: np.float(x[5:7]))

data = data.drop(['deadline', 'launched'], axis=1)

### Binary encode 'state' column

In [24]:
data['state'].apply(lambda x: 1 if x == 'successful' else 0)

0         0
1         0
2         0
3         0
4         1
         ..
331670    0
331671    0
331672    0
331673    0
331674    0
Name: state, Length: 331675, dtype: int64

In [25]:
data['state'] = data['state'].apply(lambda x: 1 if x == 'successful' else 0)

In [26]:
data.head()

         category main_category  ... launched_year  launched_month
0          Poetry    Publishing  ...        2015.0             8.0
1  Narrative Film  Film & Video  ...        2017.0             9.0
2  Narrative Film  Film & Video  ...        2013.0             1.0
3           Music         Music  ...        2012.0             3.0
4     Restaurants          Food  ...        2016.0             2.0

[5 rows x 15 columns]

### OneHotEncode 'category','main_category'
### 'currency'	, 'country'

In [27]:
from sys import prefix
def onehot_encode(df, columns, prefixes):
  df = df.copy()
  for column, prefix in zip(columns, prefixes):
    dummies = pd.get_dummies(df[column], prefix=prefix)
    df = pd.concat([df, dummies], axis=1)
    df = df.drop(column, axis=1)
  return df

In [28]:
data = onehot_encode(
    data,
    ['category', 'main_category', 'currency', 'country'],
    ['cat', 'main_cat', 'curr', 'country']
)

In [29]:
print(data.shape)
data.head()

(331675, 222)

      goal  pledged  state  ...  country_SE  country_SG  country_US
0   1000.0      0.0      0  ...           0           0           0
1  30000.0   2421.0      0  ...           0           0           1
2  45000.0    220.0      0  ...           0           0           1
3   5000.0      1.0      0  ...           0           0           1
4  50000.0  52375.0      1  ...           0           0           1

[5 rows x 222 columns]

# Our Data is fully numeric
### We are ready to split and scale the data

In [30]:
y = data.loc[:, 'state']
X = data.drop('state', axis=1)

### We only want to scale X, we don’t want to scale what we are trying to predict.

In [31]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

### Each column has a mean of 0, and a variance of 1

In [32]:
pd.DataFrame(X)

             0         1         2    ...       218       219       220
0      -0.038690 -0.104182 -0.120549  ... -0.067605 -0.037023 -1.927949
1      -0.012748 -0.080351 -0.105012  ... -0.067605 -0.037023  0.518686
2       0.000669 -0.102016 -0.117442  ... -0.067605 -0.037023  0.518686
3      -0.035111 -0.104172 -0.119514  ... -0.067605 -0.037023  0.518686
4       0.005142  0.411363  0.111472  ... -0.067605 -0.037023  0.518686
...          ...       ...       ...  ...       ...       ...       ...
331670 -0.033770 -0.102666 -0.116406  ... -0.067605 -0.037023  0.518686
331671 -0.038242 -0.102656 -0.115370  ... -0.067605 -0.037023  0.518686
331672 -0.026166 -0.103985 -0.119514  ... -0.067605 -0.037023  0.518686
331673 -0.026166 -0.102213 -0.114335  ... -0.067605 -0.037023  0.518686
331674 -0.037795 -0.099024 -0.102941  ... -0.067605 -0.037023  0.518686

[331675 rows x 221 columns]

### Split Data

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=34)

### Modeling and Training

In [34]:
X.shape

(331675, 221)

In [35]:
y.shape

(331675,)

### How skewed our our classes

In [36]:
y.mean()

0.4038772895153388

### 40% positive and 60% negative

### We will use class_weight from SKLearn
### It allows us to generate weights for all the imbalanced classes

In [37]:
y_train.unique()

array([0, 1])

In [38]:
# This will compute class weights on y_train for classes in y_train.unique()
# with a mode of balanced.
class_weights = class_weight.compute_class_weight(
                                        "balanced",
                                        y_train.unique(),
                                        y_train                                                    
                                    )
class_weights = dict(enumerate(class_weights))
class_weights

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass classes=[0 1], y=270640    0
72886     0
43654     1
126262    0
250713    0
         ..
38435     1
199765    0
225014    0
153449    1
305642    0
Name: state, Length: 232172, dtype: int64 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)

{0: 0.8394874242489985, 1: 1.236404302907658}

In [39]:
inputs = tf.keras.Input(shape=(221,))
x = tf.keras.layers.Dense(64, activation='relu')(inputs)
x = tf.keras.layers.Dense(64, activation='relu')(x)
outputs = tf.keras.layers.Dense(1, activation='sigmoid')(x)

model = tf.keras.Model(inputs, outputs)


model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=[
        'accuracy',
        tf.keras.metrics.AUC(name='auc') # Area Under the Curve of the (ROC)Receiver Operating Curve
    ]
)
batch_size = 64
epochs = 100 # We are using a large amount of epochs because we are using early stopping

history = model.fit(
    X_train,
    y_train,
    validation_split=0.2,
    class_weight=class_weights, # This will assighn weights to the two classes 
    #to penalize the out of balance 
    batch_size=batch_size,
    epochs=epochs,
    callbacks=[
        tf.keras.callbacks.EarlyStopping( # This is a great callback that lets us monitor a metric or loss value
            monitor='val_loss',
            patience=3,
            restore_best_weights=True,
            verbose=1
        )
    ],
    verbose=2
)

Epoch 1/100
2903/2903 - 18s - loss: 0.4532 - accuracy: 0.7890 - auc: 0.8702 - val_loss: 0.3516 - val_accuracy: 0.8525 - val_auc: 0.9284 - 18s/epoch - 6ms/step
Epoch 2/100
2903/2903 - 15s - loss: 0.3172 - accuracy: 0.8643 - auc: 0.9383 - val_loss: 0.3063 - val_accuracy: 0.8705 - val_auc: 0.9456 - 15s/epoch - 5ms/step
Epoch 3/100
2903/2903 - 17s - loss: 0.2763 - accuracy: 0.8823 - auc: 0.9532 - val_loss: 0.2597 - val_accuracy: 0.8912 - val_auc: 0.9594 - 17s/epoch - 6ms/step
Epoch 4/100
2903/2903 - 15s - loss: 0.2460 - accuracy: 0.8947 - auc: 0.9630 - val_loss: 0.2486 - val_accuracy: 0.8948 - val_auc: 0.9637 - 15s/epoch - 5ms/step
Epoch 5/100
2903/2903 - 16s - loss: 0.2224 - accuracy: 0.9066 - auc: 0.9698 - val_loss: 0.2143 - val_accuracy: 0.9113 - val_auc: 0.9707 - 16s/epoch - 5ms/step
Epoch 6/100
2903/2903 - 16s - loss: 0.2080 - accuracy: 0.9131 - auc: 0.9736 - val_loss: 0.2398 - val_accuracy: 0.8954 - val_auc: 0.9702 - 16s/epoch - 5ms/step
Epoch 7/100
2903/2903 - 15s - loss: 0.1987 - accuracy: 0.9170 - auc: 0.9758 - val_loss: 0.2049 - val_accuracy: 0.9155 - val_auc: 0.9748 - 15s/epoch - 5ms/step
Epoch 8/100
2903/2903 - 15s - loss: 0.1926 - accuracy: 0.9200 - auc: 0.9773 - val_loss: 0.1986 - val_accuracy: 0.9157 - val_auc: 0.9763 - 15s/epoch - 5ms/step
Epoch 9/100
2903/2903 - 15s - loss: 0.1863 - accuracy: 0.9226 - auc: 0.9787 - val_loss: 0.1963 - val_accuracy: 0.9188 - val_auc: 0.9772 - 15s/epoch - 5ms/step
Epoch 10/100
2903/2903 - 15s - loss: 0.1816 - accuracy: 0.9242 - auc: 0.9798 - val_loss: 0.1840 - val_accuracy: 0.9249 - val_auc: 0.9786 - 15s/epoch - 5ms/step
Epoch 11/100
2903/2903 - 15s - loss: 0.1774 - accuracy: 0.9266 - auc: 0.9807 - val_loss: 0.1823 - val_accuracy: 0.9242 - val_auc: 0.9801 - 15s/epoch - 5ms/step
Epoch 12/100
2903/2903 - 15s - loss: 0.1733 - accuracy: 0.9288 - auc: 0.9816 - val_loss: 0.1835 - val_accuracy: 0.9245 - val_auc: 0.9807 - 15s/epoch - 5ms/step
Epoch 13/100
2903/2903 - 15s - loss: 0.1709 - accuracy: 0.9298 - auc: 0.9821 - val_loss: 0.1809 - val_accuracy: 0.9250 - val_auc: 0.9807 - 15s/epoch - 5ms/step
Epoch 14/100
2903/2903 - 15s - loss: 0.1674 - accuracy: 0.9307 - auc: 0.9828 - val_loss: 0.1865 - val_accuracy: 0.9246 - val_auc: 0.9808 - 15s/epoch - 5ms/step
Epoch 15/100
2903/2903 - 15s - loss: 0.1638 - accuracy: 0.9316 - auc: 0.9836 - val_loss: 0.1551 - val_accuracy: 0.9379 - val_auc: 0.9849 - 15s/epoch - 5ms/step
Epoch 16/100
2903/2903 - 15s - loss: 0.1615 - accuracy: 0.9338 - auc: 0.9840 - val_loss: 0.1728 - val_accuracy: 0.9270 - val_auc: 0.9827 - 15s/epoch - 5ms/step
Epoch 17/100
2903/2903 - 15s - loss: 0.1572 - accuracy: 0.9352 - auc: 0.9848 - val_loss: 0.1491 - val_accuracy: 0.9395 - val_auc: 0.9859 - 15s/epoch - 5ms/step
Epoch 18/100
2903/2903 - 15s - loss: 0.1561 - accuracy: 0.9365 - auc: 0.9850 - val_loss: 0.1577 - val_accuracy: 0.9353 - val_auc: 0.9854 - 15s/epoch - 5ms/step
Epoch 19/100
2903/2903 - 15s - loss: 0.1549 - accuracy: 0.9365 - auc: 0.9853 - val_loss: 0.1555 - val_accuracy: 0.9378 - val_auc: 0.9848 - 15s/epoch - 5ms/step
Epoch 20/100
Restoring model weights from the end of the best epoch: 17.
2903/2903 - 15s - loss: 0.1514 - accuracy: 0.9376 - auc: 0.9859 - val_loss: 0.1586 - val_accuracy: 0.9378 - val_auc: 0.9839 - 15s/epoch - 5ms/step
Epoch 00020: early stopping

# Results

In [40]:
model.evaluate(X_test, y_test)

3110/3110 [==============================] - 13s 4ms/step - loss: 0.1478 - accuracy: 0.9401 - auc: 0.9860

[0.14781855046749115, 0.9400821924209595, 0.9860149621963501]